{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <h3>Change your password</h3>
        <p>Use the form below to change your password.</p>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center my-4">

            <form method="post" class="bg-white p-5">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="id_old_password">Old password:</label> 
                    <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_new_password1">New password:</label> 
                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> 
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_new_password2">New password confirmation:</label> 
                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>
                <div>
                    <button class="btn btn-primary mt-3" type="submit">Change</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}